.taskItemGroup {
    list-style: none;
    display: contents;
}

title {
    grid-column: 1;
}

.status {
    grid-column: 2;
}

.dueDate {
    grid-column: 3;
}

.edit {
    grid-column: 4;
}

.delete {
    grid-column: 5;
}